
.loader {
      border: 6px solid #f3f3f3;
    border-top: 6px solid #3498db;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
    margin: 40px auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.mt-10 {
	margin-top: 10px !important;
}
.w-60{
	width: 60px;
}
tbody tr td{
	vertical-align: middle !important;
}
.box-item-image{
    width: 50px;
    height: 50px;
    border-radius: 4px;
    border: 1px solid #ddd;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}
.box-item-image i {
	color: #6d6d6d;
}
.flex{
	display: flex;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
}
.image-box{
	width: 100px;
	height: 100px;
	padding: 5px;
}
.image-box a{
    width: 100%;
    height: 100%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: solid 1px #ddd;
    border-radius: 4px;
}
.image-box a img{
    max-height: 100%;
    max-width: 100%;
    overflow: hidden;
}
.image-box a.active{
	border:solid 2px #55bf59eb;
}
.image-box a.active:before{
	content:'\f058';
	font-family: 'FontAwesome';
	position: absolute;
	display: block;
	width: 10px;
	height: 10px;
	color: #55bf59eb;
	top: 0;
	right: 10px;
	font-size: 17px;
}
.choose-file{
    height: 200px;
    width: 100%;
    display: block;
    border: 2px dashed #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: transparent;
}
.choose-file:hover{
    background: rgba(0,0,0,0.1)
}
[hidden]{
    display: none !important;
}
.list-item-image{
    min-height: 200px;
    width: 100%;
    display: block;
    border: 2px dashed #ddd;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.list-item-image .item-image{
    width: 200px;
    height: 200px;
    margin: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.list-item-image .item-image a{
    position: absolute;
    top: 0;
    right: 0;
    color: red;
}
.list-item-image .item-image img{
    max-width: 100%;
    max-height: 100%;
}
.datepicker.form-control{
	background: #fff !important;
}
.modal-lg-80{
    width: 80% !important;
}
.daterange{
    width: 300px;
    position: relative;
}
.daterange input{
    background: #fff !important;
}
.daterange::before {
    position: absolute;
    content: "\f073";
    top: 0;
    right: 0;
    height: 100%;
    width: 20px;
    font-family: 'FontAwesome';
    position: absolute;
    display: block;
    line-height: 34px;
}
.form-inline{
    display: inline-block;
}
